Repository PrimeDealFinance/PrimeDeal-UI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: setup, contract-test, frontend-test-build, contract-deploy, contract-export-cached-address, frontend-deploy

setup:
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  cache:
  - key: node-cache
    unprotect: true
    paths:
    - node_modules/
    - .nx/
    policy: pull-push
  - key: node-frontend-cache
    unprotect: true
    paths:
    - $FRONTEND_PATH/node_modules
    policy: pull-push
  - key: forge-cache
    unprotect: true
    paths:
  ...

contract-test:
  cache:
  - key: node-cache
    unprotect: true
    paths:
    - node_modules/
    - .nx/
    policy: pull
  - key: forge-cache
    unprotect: true
    paths:
    - $CONTRACT_PATH/lib/
    policy: pull
  stage: test
  script:
  - npx nx test contract

frontend-test-build:
  cache:
  - key: node-cache
    unprotect: true
    paths:
    - node_modules/
    - .nx/
    policy: pull
  - key: node-frontend-cache
    unprotect: true
    paths:
    - $FRONTEND_PATH/node_modules
    policy: pull
  - key: next-frontend-cache
    unprotect: true
    paths:
    - $FRONTEND_PATH/.next
    policy: pull-push
  ...

contract-deploy:
  cache:
  - key: node-cache
    unprotect: true
    paths:
    - node_modules/
    - .nx/
    policy: pull
  - key: forge-cache
    unprotect: true
    paths:
    - $CONTRACT_PATH/lib/
    policy: pull
  - key: contract-address-cache
    unprotect: true
    paths:
    - $CONTRACT_PATH/script/deploy.env
    policy: push
  ...

contract-export-cached-address:
  cache:
  - key: contract-address-cache
    unprotect: true
    paths:
    - $CONTRACT_PATH/script/deploy.env
    policy: pull
  stage: deploy
  script:
  - echo "Last deployed contract address `cat $CONTRACT_PATH/script/deploy.env`"
  artifacts:
    reports:
      dotenv: $CONTRACT_PATH/script/deploy.env

frontend-deploy:
  cache:
  - key: contract-address-cache
    unprotect: true
    paths:
    - $CONTRACT_PATH/script/deploy.env
    policy: pull
  - key: node-cache
    unprotect: true
    paths:
    - node_modules/
    - .nx/
    policy: pull
  - key: node-frontend-cache
    unprotect: true
    paths:
    - $FRONTEND_PATH/node_modules
  ...

disabled some rules in cicd
  .gitlab-ci.yml
Due: none

added missing interface
  packages/contract/interface/IWMATIC.sol
Due: none

network switcher
  packages/frontend/components/ConnectButton.tsx
  packages/frontend/components/header.tsx
  packages/frontend/components/networkDropdown.tsx
  packages/frontend/public/matic.svg
  packages/frontend/public/maticGrey.svg
  packages/frontend/service/store.ts
Due: none

little fix
  packages/frontend/service/store.ts
Due: none

added full navite token path
  packages/contract/interface/IWETH9.sol
  packages/contract/interface/IWMATIC.sol
  packages/contract/package.json
  packages/contract/script/DeployScript.s.sol
  packages/contract/src/PositionManager.sol
  packages/contract/test/Constants.sol
  packages/contract/test/PositionManager.t.sol
Due: setup, contract-test, contract-deploy

fixed sell
  packages/frontend/service/store.ts
Due: none

close position and graph
  packages/frontend/app/orders/[id]/page.tsx
  packages/frontend/app/orders/page.tsx
  packages/frontend/app/page.tsx
  packages/frontend/service/TradingView.js
  packages/frontend/service/store.ts
Due: none

Initial commit
  .gitignore
  README.md
Due: none

Update README.md
  README.md
Due: none

added background, logo and connect wallet button
  app/layout.tsx
  components/ConnectButton.tsx
  package-lock.json
  package.json
  public/PrimeDeal.svg
  public/bg.svg
  public/bitcoinLeft.png
  public/bitcoinRight.png
  public/blurCoinRight.png
  public/blurCoinRight.svg
  public/coinGroup.png
  public/gr.svg
Due: setup

added missing modules
  package-lock.json
  package.json
Due: setup

removed packages folder
  packages/contract/.env
  packages/contract/.github/workflows/test.yml
  packages/contract/.gitignore
  packages/contract/.gitmodules
  packages/contract/README.md
  packages/contract/foundry.toml
  packages/contract/interface/IWETH9.sol
  packages/contract/package.json
  packages/contract/script/DeployScript.s.sol
  packages/contract/script/deploy.sh
  packages/contract/src/PositionManager.sol
  packages/contract/test/Constants.sol
  packages/contract/test/PositionManager.t.sol
  packages/frontend/.env
  packages/frontend/.eslintrc.json
Due: setup, contract-test, frontend-test-build, contract-deploy, contract-export-cached-address, frontend-deploy

added missing packages for npm run build
  package-lock.json
  package.json
Due: setup

small refactoring
  app/layout.tsx
  app/orders/[id]/page.old.tsx
  app/orders/[id]/page.tsx
  app/orders/page.old.tsx
  app/orders/page.tsx
  app/page.old.tsx
  app/page.tsx
  app/providers.tsx
  components/BuyCard.tsx
  components/CommonModalWindow.tsx
  components/ConnectButton.tsx
  components/ERC20.js
  components/ModalWindowConnect.tsx
  components/ModalWindowTx.tsx
  components/StartPage.tsx
  components/ThemeRegistry/EmotionCache.tsx
  components/ThemeRegistry/ThemeRegistry.tsx
  components/ThemeRegistry/theme.ts
  components/abiContract.tsx
  components/abiUsdt.tsx
  components/defaultProvider.tsx
  components/footer.tsx
  components/header.tsx
  package-lock.json
  package.json
  public/vectorUp.svg
  service/rainbow-kit-provider.tsx
  service/store.ts
Due: setup

feat# create table material UI
  app/orders/data.ts
  app/orders/page.tsx
  package-lock.json
  package.json
Due: setup

create table version 1.0
  app/orders/COLUMNS.ts
  app/orders/data.ts
  app/orders/page.tsx
Due: none

create order page done
  app/layout.tsx
  app/page.tsx
  components/SellCard.tsx
  public/vectorDown.svg
Due: none

add My orders button
  app/layout.tsx
Due: none

chore: test
  app/orders/[id]/page.tsx
  package-lock.json
Due: none

fix hover width in Select, fix BUY/SELL tabs position
  app/page.tsx
  components/BuyCard.tsx
  components/SellCard.tsx
Due: none

create table version 2.0
  app/layout.tsx
  app/orders/page.tsx
  public/solidity.svg
Due: none

add easy counter when click plus or minus
  components/BuyCard.tsx
Due: none

add icon in default value using renderValue in Select
  components/BuyCard.tsx
Due: none

changes select's values for sell card
  components/SellCard.tsx
Due: none

generate position info and add into table
  app/orders/page.tsx
  package-lock.json
  package.json
  tsconfig.json
Due: setup

add generate table from contract data
  app/orders/page.tsx
  package-lock.json
  package.json
  tsconfig.json
Due: setup

feat: Add position data(balance order, free balance)
  app/orders/page.tsx
  components/BuyCard.tsx
Due: none

fix path to defaultProvider
  app/orders/[id]/page.old.tsx
Due: none

fix types delete and comment not use code
  app/orders/page.old.tsx
  app/orders/page.tsx
  app/page.old.tsx
  global.d.ts
  tsconfig.json
Due: none

created order info page, layout small fix
  app/layout.tsx
  app/orders/[id]/page.tsx
  public/coinLeft.png
  public/downCoin.png
  public/greenDot.svg
  public/smallCoinLeft.png
Due: none

fix for analytics description
  app/orders/[id]/page.tsx
Due: none

added init cicd
  .github/workflows/main.yml
Due: none

some fixes
  .github/workflows/main.yml
Due: none

add chart
  app/orders/[id]/page.tsx
  service/TradingView.js
Due: none

created modal window for orders confirmation
  components/BuyCard.tsx
  components/SellCard.tsx
  package-lock.json
  package.json
  public/redDot.svg
Due: setup

orderview
  app/orders/[id]/page.tsx
Due: none

add local storage and protect routes
  app/layout.tsx
  app/orders/[id]/page.old.tsx
  app/orders/[id]/page.tsx
  app/orders/page.tsx
  app/page.tsx
  components/Background.tsx
  components/BuyCard.tsx
  components/ConnectButton.tsx
  components/MainButton.tsx
  components/MainPage.tsx
  components/ProtectedRoute.tsx
  components/SellCard.tsx
  service/store.ts
Due: none

little fix for sell card
  components/SellCard.tsx
Due: none

Path conditions:
  setup: any of: package.json, packages/contract/package.json, packages/frontend/package.json
  contract-test: any of: packages/contract/*
  frontend-test-build: any of: packages/frontend/*
  contract-deploy: any of: packages/contract/src/PositionManager.sol
  contract-export-cached-address: any of: packages/frontend/*
  frontend-deploy: any of: packages/frontend/*
